* {
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
    font-family: "Poppins", sans-serif;
}
body {
    font-size: 1.6rem;
    background: #fffaf5;
}

:root {
    --primary-color: #000958;
    --secondary-color: #656689;
}

a {
    text-decoration: none;
}
.title {
    color: #000958;
    font-family: "Sora", sans-serif;
    font-size: 5.2rem;
    font-style: normal;
    font-weight: 700;
    line-height: 62px; /* 119.231% */
}
.sub-title {
    color: #5e6085;

    font-family: "Sora", sans-serif;
    font-size: 1.6rem;
    font-weight: 600;
}
.desc {
    color: #656689;
    font-family: "Poppins", sans-serif;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.87; /* 187.5% */
}
.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 193px;
    min-height: 56px;
    border-radius: 999px;
    border: 1px solid #ff5b2e;

    color: #ff5b2e;
    font-size: 1.6rem;
    font-weight: 500;
}
.btn:hover {
    background: #ff5b2e;
    color: #fff;
    box-shadow: 0px 13px 26px -8px rgba(255, 91, 46, 0.42);
}
.content {
    width: 1170px;
    margin: 0 auto;
}
.row {
    display: flex;
}
img {
    object-fit: cover;
}
.deco {
    position: absolute;
}
/*================= Header =================*/
.header {
    padding-top: 26px;
}
.header__row {
    gap: 229px;
    align-items: center;
    justify-content: center;
}
.header__logo {
    width: 103px;
    height: 37.175px;
}

.nav__list {
    display: flex;
    gap: 36px;
}
.nav__item a {
    white-space: nowrap;

    color: #5e6085;
    font-size: 1.4rem;
    font-weight: 500;
}
.nav__item:hover a {
    color: var(--primary-color);
    font-weight: 600;
}
.header__btn {
    min-height: 50px;
    width: 117px;

    color: var(--primary-color);
    font-size: 1.4rem;
    font-weight: 600;
    white-space: nowrap;
    border: 1px solid var(--primary-color);
}
.header__btn:hover {
    opacity: 0.7;
}
/*================= Hero =================*/

.hero {
    margin-top: 100px;
}

.hero__left {
    position: relative;
    min-width: 548px;
    height: 488px;
}
.hero__img-bg-1 {
    position: relative;
    width: 388px;
    height: 488px;
    background: linear-gradient(#ffa78c, #ff8e63);
    border: 3px solid #fff;
    border-radius: 16px;

    box-shadow: 10px 30px 180px -60px #faa7ad;
}
.hero__img-1 {
    border-radius: 16px;
    height: 100%;
    width: 100%;
}
.hero__img-bg-2 {
    position: absolute;

    right: -0px;
    bottom: -58px;
    width: 186px;
    height: 244px;
    border-radius: 16px;
    background: #faa7ad;
    border: 3px solid #fde0e2;
}
.hero__img-2 {
    height: 100%;
    width: 100%;
    border-radius: 16px;
}

.small-info {
    position: absolute;
    width: 250px;
    height: 156px;
    background: #fff;
}
.small-info__item {
    display: flex;
}
.hero__right {
    margin-top: 71px;
    margin-left: 121px;
}
.hero__title {
    width: 517px;
    font-weight: 800;
    font-size: 6.6rem;
    line-height: 1.15;
}
.hero__desc {
    margin-top: 24px;
    width: 391px;
}

.hero__right .row {
    margin-top: 38px;
    align-items: center;
    gap: 24px;
}
.hero__btn {
    width: 189px;
    height: 60px;

    background: #ff5b2e;
    color: #fff;
    font-size: 1.6rem;
    font-weight: 500;
    transition: transform 0.25s, opacity 0.25s;
}
.hero__btn:hover {
    opacity: 0.8;
    transform: translateY(10px);
    box-shadow: 0px 13px 26px -8px rgba(255, 91, 46, 0.42);
}
.hero__chevron {
    margin-left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    color: #ff5b2e;
    background: #fff;
    height: 20px;
    border-radius: 50%;
}
.hero__link {
    color: #000958;
    font-size: 1.6rem;
    font-weight: 500;
    text-decoration-line: underline;
}
.hero__link:hover {
    opacity: 0.8;
}

.small-info {
    padding: 18px 14px;
    bottom: -94px;
    left: 130px;
    border-radius: 10px;
    background: #fff;
    box-shadow: 10px 30px 180px -60px #faa7ad;
}
.small-info__avatar {
    border-radius: 10px;
    background: #fec23f;
    width: 40px;
    height: 40px;
}
.small-info__avatar img {
    width: 100%;
}
.small-info__item:nth-of-type(even) .small-info__avatar {
    background: #bfdcf6;
}

.small-info__separate {
    margin: 20px 0;
    height: 2px;
    background: #f2f2f2;
}

.small-info__title {
    margin-top: 2px;
    color: #181e52;
    font-family: "Sora", sans-serif;
    font-size: 1.4rem;
    font-weight: 600;
}

.small-info__main-content {
    margin-left: 9px;
    display: flex;
    flex-flow: column;
    gap: 6px;
}
.small-info__line {
    height: 4px;
    border-radius: 999px;
    background: #ebecf2;
}

.small-info__line-long {
    width: 118px;
}
.small-info__line-short {
    width: 39px;
}

.hero__deco-1 {
    bottom: 12px;
    left: -58px;
    z-index: -1;
}
.hero__deco-2 {
    top: 20px;
    right: 120px;
    z-index: -1;
}
/*================= About =================*/
.about {
    margin-top: 200px;
}
.about__left {
    padding-top: 70px;
    width: 477px;
}
.about__title {
    margin-top: 15px;
}
.about__desc {
    margin-top: 24px;
}
.about__list {
    margin-top: 54px;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-row-gap: 34px;
}
.about__item {
    display: flex;
    align-items: center;
    gap: 10px;
}
.about__item-icon {
    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 5px;
    background: #ff5d31;
    width: 24px;
    height: 24px;
}
.about__item-desc {
    color: #48496a;
    font-size: 1.8rem;
    font-weight: 500;
}
.about__right {
    margin-left: 108px;
    height: 559px;

    display: flex;
    flex-flow: column-reverse;
}
.about__right-bg {
    position: relative;
    margin-left: 92px;
    width: 494px;
    height: 336px;
    background: linear-gradient(#fce0ef, #fac3d1);
    border-radius: 16px;
    box-shadow: 11px 18px 65px 0px rgba(255, 155, 121, 0.12);
}
.about__img {
    position: absolute;
    bottom: 0;
    right: 20px;
}
.about__experience {
    position: absolute;
    top: -58px;
    left: -92px;

    text-align: center;
    padding: 31px 26px 29px;
    width: 136px;
    height: 156px;
    border-radius: 10px;
    background: #5bd6e2;
    box-shadow: -15px 26px 48px 0px rgba(85, 240, 255, 0.17);
}

.about__20 {
    color: #fff;
    font-family: "Sora", sans-serif;
    font-size: 4.2rem;
    font-weight: 600;
}
.about__experience-desc {
    display: inline-block;
    margin-top: 14px;
    color: #c6f4f9;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.42; /* 142.857% */
}
.about__deco-experience {
    top: -40px;
    left: 85px;
}
.about__deco-experience-2 {
    top: -55px;
    right: -50px;
    z-index: -1;
}

.Vacation {
    margin-top: 146px;
}
.vacation__left {
    position: relative;
}
.Vacation__bg {
    width: 458px;
    height: 500px;
    border-radius: 18px;
    border: 2px solid #fff;
    background: linear-gradient(#c6e2fa, #94c2ea);
    box-shadow: 0px 17px 77px -8px rgba(190, 165, 139, 0.17);
}
.vacation__deco-1 {
    bottom: -50px;
    right: -50px;
}
.vacation__deco-2 {
    top: 10px;
    right: 70px;
}
.vacation__deco-3 {
    top: -15px;
    right: 10px;
}
.vacation__deco-4 {
    top: 30px;
    right: -20px;
}
.vacation__deco-5 {
    bottom: 45%;
    right: -30px;
    top: 55%;
}
.vacation__deco-6 {
    bottom: 155px;
    right: 15px;
}

.vacation__right {
    padding-top: 36px;
    margin-left: 127px;
}

.vacation__desc {
    margin-top: 24px;
    width: 511px;
}
.vacation__list {
    margin-top: 52px;
    position: relative;
}
.vacation__list-tabs {
    position: relative;
    display: flex;
    gap: 56px;
    align-items: center;
}
.vacation__list-tabs::after {
    content: "";
    display: block;
    position: absolute;
    bottom: -5px;
    height: 2px;
    width: 100%;
    z-index: -1;
    background: #ffeee7;
    border-radius: 999px;
}
.vacation__list-title {
    display: flex;
    gap: 10px;
    align-items: center;
    position: relative;
    color: #48496a;
    font-family: "Sora", sans-serif;
    font-size: 1.8rem;
    font-weight: 600;
}
.vacation__list-title.vacation__list-title-active {
    color: #000958;
}

.vacation__separate {
    position: absolute;

    height: 2px;
    background: #ff5b2e;
    border-radius: 999px;
    transition: all 0.25s ease;
}

.vacation__list-desc {
    display: none;
}
.vacation__list-desc.vacation__list-desc-active {
    display: block;
}

.vacation__list-content {
    margin-top: 34px;
    font-size: 1.4rem;
    line-height: 1.7; /* 171.429% */
}

.vacation__link {
    margin-top: 32px;
    display: inline-block;
    color: #ff5d31;
    font-size: 1.6rem;
    font-weight: 500;
    position: relative;
    transition: opacity 0.25s;
}
.vacation__link::after {
    content: " ";
    display: block;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2px;
    background: #ff5d31;
}
.vacation__link:hover {
    opacity: 0.75;
}
/*================= Services =================*/

.services {
    margin-top: 190px;
    padding: 68px;
    background: #fff6ed;
}
.services__sub-title {
    display: block;
    text-align: center;
}

.services__title {
    margin-top: 15px;
    text-align: center;
}
.services__row {
    margin-top: 71px;
    position: relative;
    display: flex;
    gap: 86px;
}

.services__list {
    display: flex;
    flex-flow: column;
    gap: 24px;
}
.services__item {
    padding: 30px 18px 30px 28px;
    width: 294px;
    height: 208px;
    border-radius: 10px;
    border: 2px solid rgba(255, 188, 122, 0.26);
    background: #fff;
}
.services__item-title {
    padding-left: 12px;
    color: #000958;
    font-family: "Sora", sans-serif;
    font-size: 2.2rem;
    font-weight: 600;
    position: relative;
}
.services__item-title::before {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    width: 2px;
    height: 22px;
    background: linear-gradient(#ff5b2e, #ffa187);
}
.services__item-desc {
    margin-top: 18px;
    font-size: 1.4rem;
    line-height: 1.71;
}
.services__item-link {
    display: flex;
    align-items: center;
    margin-top: 24px;
    color: #34396a;
    font-family: "Sora", sans-serif;
    font-size: 1.2rem;
    font-weight: 400;
}

.services__main-img {
    position: relative;
    align-self: flex-end;
    margin-bottom: 62px;
    width: 410px;
    height: 350px;
    border-radius: 10px;
    background: linear-gradient(#9df1fb, #73d0db);
}
.services__main-img img {
    position: absolute;
    bottom: 0;
    right: -20px;
}

.services__btn {
    position: absolute;
    width: 214px;

    bottom: -40px;
    left: 50%;
    transform: translateX(-50%);
}
